*.csv
.Rproj.user/
.Rhistory
m.ranger.rds
feat.selection.rds
lending_club.pdf
lending_club.nb.html
m.xgboost.rds
lending_club_files/figure-latex/EDA 4-1.pdf
lending_club_files/figure-latex/EDA 1-1.pdf
tinytex_a505713c26.pdf
lending_club_files/figure-latex/performance evaluation 3-1.pdf
lending_club_files/figure-latex/performance evaluation 2-1.pdf
lending_club.utf8.md
lending_club.tex
lending_club.out
lending_club.log
lending_club.knit.md
lending_club.aux
